<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.visualize.akan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".domain.view.AboutAkanScreen"></activity>
        <activity android:name=".domain.view.DescriptionScreen"></activity>
        <activity android:name=".domain.view.ListScreen"></activity>
        <activity android:name=".domain.view.SplashScreen"></activity>
        <activity android:name=".domain.view.RankingList">
            <intent-filter> 
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /> 
                </intent-filter>
        </activity>
    </application>

</manifest>
